.buyer-list-container {
  display: flex;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.buyer-list-row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
}

.buyer-list-col {
}

.buyer-list-item {
  font-size: 14px;
  padding: 7px 14px;
  border-radius: 23px;
  background-color: #F2F4F7;
  min-width: 100px;
  text-align: center;
}

.buyer-list-button {
  padding: 7px 14px;
  border-radius: 23px;
  background: none;
  color: black;
  cursor: pointer;
  flex-shrink: 0;
  border: 1px solid #D0D5DD;
}
